.shell {
  display: grid;
  grid-template-rows: 1fr auto;
  height: calc(100vh - 56px);
}

/* minus header */
.thread {
  overflow: auto;
}

.omnibox {
  border-top: 1px solid var(--border)
}

@media screen and (max-width: 767px) {
    .omnibox {
        margin-bottom: 20px; /* Adjust the value as needed */
    }
}